<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<div class="container">
  <app-back></app-back>
  <div class="form-group">
      <label for="inputAddress"><h4>Subject</h4></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Burj Khalifa" [(ngModel)]='subject'>
  </div>
  <button (click)="searchObject()" type="submit" class="btn btn-warning">Search</button>
</div>
<div *ngIf = "searchEntityCheck == 1"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
<div *ngIf = "searchEntityCheck == 2" class="container">
    <table class="table table-hover table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Label</th>
          <th scope="col">Description</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody *ngFor = "let result of searchObject$.search">
        <tr>
          <td>{{ result.id }}</td>
          <td>{{ result.label }}</td>
          <td>{{ result.description }}</td>
          <!-- <td><button (click)="searchEntity(result.id)" type="submit" class="btn btn-warning">Go</button></td> -->
          <td><button (click)="searchEntityNew(result.id)" type="submit" class="btn btn-warning">Go</button></td>
        </tr>
      </tbody>
    </table>
</div>
<!-- <div *ngIf = "selector == 'human' " class="container">
    <table class="table table-hover table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">P Property</th>
          <th scope="col">Q Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Occupation</td>
          <td>
              <li *ngFor="let result of occupationName">
                {{ result.value }}
                <button (click)="generateQuesReview(result.key,result.value)" type="submit" class="btn btn-warning">Go</button>
              </li>
          </td>
        </tr>
      </tbody>
    </table>
</div> -->
<!-- <div *ngIf = "selector == 'human' " class="container">
    <table class="table table-hover table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">Sample Questions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <li *ngFor="let result of queryQues">
                {{ result.QuestionGiven }}
                <ul>
                  <li *ngFor="let option of result.Options">
                    {{ option.OptionGiven }}
                 </li>
                </ul>
              </li>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="generateQuesPost(queryQues)" type="submit" class="btn btn-warning">Generate Questions</button>
</div> -->
<div *ngIf = "searchPropertyCheck == 1"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
<div *ngIf = "searchPropertyCheck == 2" class="container">
    <table class="table table-hover table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">P Property</th>
          <th scope="col">Q Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of arrOfGeneral">
          <td>{{ result.Subject }}</td>
          <td>
              {{ result.Value }}
              <button (click)="generateQuesReviewNew(result.SubjectId,result.Subject)" type="submit" class="btn btn-warning">Go</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div *ngIf = "quesTemp == 1"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
<div *ngIf = "quesTemp == 2" class="container">
  <div class="form-group">
      <label for="inputAddress">
        <h5>Template (Type as: "Who is the (option) of [subject]?")
          <i class="fas fa-info-circle example-button" 
            matTooltip="Replace 'option' in (option) with the Property selected in last step and keep [subject] as it is. Example: 1. What is the (country) of [subject]? 2. When was the [subject] (born)?"
           matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"></i>
        </h5>
      </label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Who is the (option) of [subject]?" [(ngModel)]='template'>
  </div>
  <button (click)="searchTemplate()" type="submit" class="btn btn-warning">Search</button>
</div>
<div *ngIf = "generateQuesCheck == 1"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
<div *ngIf = "generateQuesCheck == 2" class="container">
    <table class="table table-hover table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">Sample Questions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <li *ngFor="let result of questionObject">
                {{ result.QuestionGiven }}
                <ul>
                  <li *ngFor="let option of result.Options">
                    {{ option.OptionGiven }}
                 </li>
                </ul>
              </li>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="generateQuesPostNew()" type="submit" class="btn btn-warning">Generate Questions</button>
</div>
<div *ngIf = "questionPostSuccess == true" class="loading-indicator"><mat-spinner></mat-spinner></div>