#home_division {
        // background-color:#05668D; 
}

// .btn{
//     display:block;
//     height: 100px;
//     width: 51px;
//     border-radius: 50%;
//     border: 1px solid red;
//     margin: auto;
//     background-color: #05668D;
// }

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }

.btn-xl {
    // border-radius: 50%;
    // background-color: #05668D;
    // text-transform: uppercase;
    // padding: 2rem 5rem;
    // font-size: 0.9rem;
    // font-weight: 700;
    // letter-spacing: 0.1rem;
    // margin-left: 5%;


}
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }


@media (max-width: 992px) {
    // .btn-xl {
    //     //padding: 1.5rem 4rem;
    //     font-weight: 650;
    //    // margin: 3%;
    // }
}
@media (max-width: 576px) {
    // .btn-xl {
    //     //padding: 1.2rem 3rem;
    //     font-weight: 600;
    // }
}