/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap-reboot';
// @import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Product+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Product Sans';
}

* {
  font-family: 'Product Sans'
}
