.quizmaster-c-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #18113b;
}

.quizmaster-c-container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizmaster-c-question__count {
  background: whitesmoke;
  padding: 25px;
  border-radius: 30px;
}

.quizmaster-c-container__sidebar {
  background: url('../../assets/img/abstract-2.jpg');
  width: 60%;
  padding: 30%;
  display: flex;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.quizmaster-c-container__menu__container {
  padding: 30px;
}

.quizmaster-c-container__menu {
  display: flex;
  flex-direction: column;
}

.quizmaster-c-question__generated__count {
  color: #ef3b7c;
  font-weight: bold;
}

.btn-xl {
  text-transform: uppercase;
  padding: 2rem 5rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}
