<div class="quizmaster-c-container">
  <div class="quizmaster-c-container__sidebar"></div>
  <div class="quizmaster-c-container__main">
    <div class="quizmaster-c-container__menu__container">
      <h3>Quiz Master</h3>
      <div class="quizmaster-c-container__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis excepturi ipsum molestiae inventore sint est amet quae cumque enim iste placeat eius explicabo non, incidunt nemo sunt totam nihil ullam!</div>
      <div class = "quizmaster-c-container__menu">
        <a mat-stroked-button class="btn-xl" routerLink="generator">Start Generating Questions</a>
        <a mat-stroked-button class="btn-xl" routerLink="checker">View All Generated Template</a>
      </div>
    </div>
    <div class="quizmaster-c-question__count">Generated <span class="quizmaster-c-question__generated__count">122,2323</span> Questions and counting</div>
  </div>
</div>
