.quizmaster-c-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

a {
    text-decoration: none !important;
}

.quizmaster-ch-side__container {
    height: 100%;
    overflow: auto;
    flex: 1 1;
    padding: 20px;
    color: black;
}

.quizmaster-ch-side__title {
    margin-top: 15px;
}

.quizmaster-ch-editor {
    background: #181336;
    height: 100%;
    flex: 1 1;
    overflow: auto;
    padding: 30px;
    color: white;
}

.table {
    background: #181336;
    font: 'Product Sans' !important;
}

.list-group-item {
    // color: white;
    background-color: #ffc107;
    border-color: #ffc107;
    &:active,
    &:focus,
    &:hover {
        // color: white;
        background-color: darken(#ffc107, 10%) ;
        border-color: darken(#ffc107, 10%) ;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem fade-out(#ffc107, 0.5);
    }
}

.quizrt-c-question__loader {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizrt-c-question__image {
    height: 100px;
    width: 100px;
}

.quizrt-c-text {
    color: white;
}

.quizrt-c-question__msg {
    margin-top: 20px;
}
  