<div class="container">
  <app-back></app-back>
  <h4>List Of Templates: </h4>
  <div *ngFor = "let result of listTemplate" class="list-group">
    <button (click)="refresh_template(result.template)" class="list-group-item list-group-item-action">
      {{ result.single_Question.question }}
      <div>
          {{ result.single_Question.correctOption }}
      </div>
      <div *ngFor = "let op of result.single_Question.otherOptionsList">
        {{op.option}}
      </div>
    </button>
  </div>
</div>